<mat-nav-list>
    <a mat-list-item *ngIf="(!isAuth$ | async)" [routerLink]="[ '/login']" (click)="onSidenavToggle()">
        <mat-icon>lock</mat-icon>
        <span>Login</span>
    </a>
    <a mat-list-item *ngIf="(!isAuth$ | async)" [routerLink]="[ '/signup']" (click)="onSidenavToggle()">
        <mat-icon>face</mat-icon>
        <span>Signup</span>
    </a>
    <a mat-list-item *ngIf="isAuth$ | async" [routerLink]="[ '/createpoll']" (click)="onSidenavToggle()">
        <mat-icon>menu_book</mat-icon>
        <span>Create a Poll</span>
    </a>
    <mat-list-item>
        <button *ngIf="isAuth$ | async" mat-icon-button (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>
